footer {
	margin: 10px 1px;
	small {
		font-size: 0.75em;
		color: #999;
	}
	a {
		margin: 1px;
		border: 1px solid rgba(1,1,1,0);
		border-bottom: 1px dashed #BBB;
		color: #B9221F;
		text-decoration: none;
	}
}